body{
  font-family: sans-serif;
  text-align: center;
  color:white;
  background-color: rgb(45, 45, 45);
  margin:0;
}

#box{
  background-color: rgb(53, 52, 60);
  width:90%;
  display:inline-block;
  border-radius: 10px;
  padding:40px 20px;
}

#description{
  padding:15px;
  margin:15px;
  border:none;
  border-radius: 10px;
  outline: none;
  width:75%;
}
h1{
  padding:20px;
}

p{
  font-weight: bold;
  font-size: large;
}

#num{
  width:50px;
  padding:10px;
  border-radius: 5px;
  outline:none;

}

#generate{
  padding:15px;
  background-color: rgb(102, 102, 219);
  color:white;
  border:none;
  border-radius: 5px;
  cursor:pointer;
  font-weight: bold;
  border-bottom: 4px solid rgb(47, 47, 153);
  position: relative;
  font-size: large;
}
#generate:active{
  border:none;
  top:4px;
}
.images{
  width:40%;
  margin:10px;

}
@media screen and (max-width:650px) {
  .images{width:90%}
}